<div class='row'>

  <div class='col-xs-3'>
    <h2>User info</h2>
    
    <h2>New post</h2>
    

  </div>

  <div class='col-xs-9'>
    <h2>Users</h2>

    <%= render 'index', users: @users %>
  </div>

</div>