<div class='row'>

  <div class='col-xs-12'>
    <h2>
    <i class="fa fa-id-card-o" aria-hidden="true"></i>
    User Page
    </h2>
    <%= render 'info', user: @user %>
  </div>

  <div class='col-xs-12'>
    <%= link_to "+", "/posts/new", data: {"turbolinks" => false}, class: "pull-right circle" %>
    <h2>post</h2>

    <%= render 'posts/index', posts: @posts %>
  </div>
</div>