<div class="row_about">
    <div class="col-xs-12">
    <h1 class="about-title">Share-Thinkとは？</h1>
      <h3 class="text-center">
        あなたが考えてるいること、悩んでいることを</br>
        自由に投稿できるサイトです。</br>
        あなたの悩みや考えを風景、写真とともに言語化し、</br>
        考えをまとめたり、備忘録としてご利用ください。</br>
      </h3>
      <div class="text-center"><%= image_tag "about.jpg", size:"500x400" %></div>
  </div>
</div>